<!-- BEGIN TAB POSTS -->
<div class="active tab-pane" id="posts">

  <% if current_user && current_user == @user %>
    <%= render partial: 'blog/users/post_form' %><br/>
  <% end %>

  <% if @posts.count == 0 %>
    <div class="post text-center">
      <p>
        <%= t('application.views.blog.no_posts') %>
        @<%= @user.username %>
      </p>
    </div>
  <% end %>

  <% @posts.each do |post| %>
    <%= render partial: 'blog/users/post', locals: { post: post } %>
  <% end %>

  <%= will_paginate @posts, param_name: 'post_page', renderer: FoundationPagination::Rails, class: 'pagination-sm no-margin' %>

</div>
<!-- END TAB POSTS -->
