<% content_for :title, t('application.sign_in.text') %>
<% content_for :initial_message, t('application.sign_in.message') %>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= render partial: 'shared/flash_messages' %>

  <div class="form-group has-feedback">
    <%= f.input_field :email, placeholder: 'E-mail', class: 'form-control', autofocus: true %>
    <span class="fa fa-envelope-o form-control-feedback"></span>
  </div>

  <div class="form-group has-feedback">
    <%= f.input_field :password, placeholder: 'Senha', class: 'form-control', autocomplete: 'off' %>
    <span class="fa fa-lock form-control-feedback"></span>
  </div>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-8">
      <%= f.submit t('application.sign_in.text'), class: 'btn btn-primary btn-block btn-flat' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= render 'devise/shared/links' %>
    </div>
  </div>
<% end %>
