<!-- BEGIN MENU -->
<ul class="sidebar-menu">
  <li class="header"><%= t('application.menu.title').upcase %></li>

  <li class="<%= current_active_menu root_path %>">
    <%= link_to root_path do %>
      <i class='fa fa-home'></i> <span><%= t('application.menu.home') %></span>
    <% end %>
  </li>

  <li class="<%= current_active_menu blog_user_path(current_user) %>">
    <%= link_to blog_user_path(current_user) do %>
      <i class='fa fa-rss'></i> <span><%= t('application.menu.my_feed') %></span>
    <% end %>
  </li>

  <li class="<%= current_active_menu edit_user_path(current_user) %>">
    <%= link_to edit_user_path(current_user) do %>
      <i class='fa fa-user'></i> <span><%= t('application.menu.profile') %></span>
    <% end %>
  </li>
</ul>
<!-- END MENU -->
